@model LCode.ViewModels.CursoVideoModuloViewModel
@using LCode.ViewModels
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Assistir curso</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/assistir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <script src="js/bootstrap.min.js"></script>
    <header>


        <nav class="navbar navbar-expand-lg navbar-light bg-purpk nav-pills">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"></span>
                <img src="image/logo.png" width="150" height="40" class="d-inline-block align-top" alt=""></a>
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CURSOS", "Cursos", "Curso", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("SOBRE", "Sobre", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CONTATO", "Contato", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    @if (Session["Adm"] != null || Session["Professor"] != null || Session["Estudante"] != null)
                    {
                        <li class="nav-item">
                            <span class="span"><a class="nav-link m-2" href="@Url.Action("Carrinho", "Compra")"><i id="icon-carrinho" class="fas fa-shopping-cart"></i></a></span>
                        </li>
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink(Session["Nome"].ToString().ToUpper(), "Dashboard", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink("CADASTRE-SE", "Cadastro", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink("LOGIN", "Login", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                        <li class="nav-item">
                            <span class="span"><a class="nav-link m-2" href="@Url.Action("Carrinho", "Compra")"><i id="icon-carrinho" class="fas fa-shopping-cart"></i></a></span>
                        </li>
                    }
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <div class="container">

            <div class="col-lg-12 mt-5">
                <h2>@Html.DisplayFor(model => model.Curso_nome)</h2>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-1">
                    <iframe name="iframe-assistir" src="@Url.Action("AssistirVideo", "Curso", new { curso_id = Request.QueryString["curso_id"] ,video_id = Request.QueryString["video_id"] })" frameborder="0" allowfullscreen scrolling="no" class="mt-5 iframe-assistir">
                    </iframe>

                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                    <h4 class="title-gray mt-3">Conteúdo do Curso</h4>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            @if (ViewData["modulos"] != null)
                            {

                                foreach (var modulos in (IEnumerable<CursoVideoModuloViewModel>)ViewData["modulos"])
                                {
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">

                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <h5 class="title-module">@modulos.mod_nome</h5>
                                            </button>
                                        </h2>
                                    </div>
                                    if (ViewData["videos"] != null)
                                    {
                                        foreach (var videos in (IEnumerable<CursoVideoModuloViewModel>)ViewData["videos"])
                                        {
                                            if (@videos.video_titulo.Where(v => videos.video_modulo == modulos.mod_id).Select(v => videos.video_titulo).FirstOrDefault() != null)
                                            {
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <ul class="list-group list-accordion list-group-flush">
                                                            <li class="list-group-item">
                                                                <a class="btn-link" href="@Url.Action("AssistirCurso","Curso", new {curso_id = Model.Curso_id, @videos.video_id})"><span><i class="fas fa-play-circle icon btn-link"></i></span>
                                                                @videos.video_titulo</a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
        </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="col-lg-12 mt-5 ">
                        <h3 class="ml-3 "><span class="color-purple ">Descrição</span> da aula</h3>
                        <div class="col-8 description mt-3 ">
                            <iframe width="560" height="315" name="iframe-assistir" src="@Url.Action("DescricaoAula", "Curso", new { curso_id = Request.QueryString["curso_id"]
                                                                                           ,video_id = Request.QueryString["video_id"] })" frameborder="0" allowfullscreen scrolling="no" class="mt-5">
                            </iframe>
                        </div>
                    </div>
                    <a target="_blank" href="@Url.Action("Certificado", "Curso", new { curso_id = Request.QueryString["curso_id"]})"><button type="submit" class="btn btn-purple-form mt-4">Gerar Certificado</button></a>
                </div>
            </div>
        </div>
    </main>
    <script src="js/global.js "></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous ">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
