@model LCode.ViewModels.CursoVideoModuloViewModel
@using LCode.ViewModels
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Cursos online, matricule-se já!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link href="~/Content/detalhes-curso.css" rel="stylesheet" />
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

</head>
<body>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-purpk nav-pills">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"></span>
                <a style="color: rgb(224, 224, 224);" class="navbar-brand d-none d-lg-inline-block h1 mb-0" href="index.html">
                    <img src="~/image/logo.png" class="d-inline-block align-top" alt="">
                </a>
                </a>
                <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                    <img src="~/image/logo.png" alt="logo">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CURSOS", "Cursos", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("SOBRE", "Sobre", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CONTATO", "Contato", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    @if (Session["Adm"] != null || Session["Professor"] != null || Session["Estudante"] != null)
                    {
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink("SAIR", "Logout", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink("CADASTRE-SE", "Cadastro", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                        <li class="nav-item">
                            <span class="span">@Html.ActionLink("LOGIN", "Login", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <!--------------------------BANNER-SECTION---------------------------->

        <section id="banner">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="promo-title" style="color: rgb(255, 255, 255)">Bem vindo à DevKey</p>
                        <h5 style="color: rgb(255, 255, 255);">
                            Cursos on-line totalmente gratuitos para você se tornar um programador de sucesso. A chave para o desenvolvimento se encontra aqui!
                        </h5>
                    </div>

                </div>
            </div>

            <!-- <img src="image/banner.jpg">-->
    </header>
    <div class="banner-detalhes-info">
        <div class="container">
            <div class="row ">

                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>@Html.DisplayFor(model => model.Curso_duracao) P/ conclusão</strong>                      
                    </div>
                </div>
                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>90</strong> Min. de video
                    </div>
                </div>

                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>32</strong> Atividades
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="curso-detalhes mb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h2> O que você <span class="color-purple"> aprenderá</span></h2>

                    <h4 class="title-gray mt-5">Descrição</h4>
                    <p>@Html.DisplayFor(model => model.Curso_descricao)</p>
                    <h4 class="title-gray mt-5">Conteúdo do Curso</h4>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Introdução
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-accordion list-group-flush">
                                        @if (ViewData["videos"] != null)
                                        {
                                            foreach(var videos in (IEnumerable<CursoVideoModuloViewModel>)ViewData["videos"])
                                            {
                                                <li class="list-group-item">
                                                    <span><i class="fas fa-play-circle icon"></i></span> @videos.video_titulo

                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Conteúdo 1
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-accordion list-group-flush">
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 1

                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 2
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 3
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 4
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 5
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 6
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Conteúdo 2
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-accordion list-group-flush">
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 1

                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 2
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 3
                                        </li>
                                        <li class="list-group-item">
                                            <span><i class="fas fa-play-circle icon"></i></span> Vídeo 4
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="card" style="width: 28rem;">
                        <video height="300" allowfullscreen controls>
                            <source src="@Url.Content(Model.video_link)" />
                        </video>
                        <div class="card-body">
                            <h5 class="card-title color-purple">@Html.DisplayFor(model => model.Curso_nome)</h5>
                            <p class="card-text">R$@Html.DisplayFor(model => model.Curso_valor)</p>
                        </div>


                        <ul class="list-group">
                            <li class="list-group-item list-group-video title-gray">Este curso inclui</li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-play-circle icon"></i></span>Vídeos com 50hrs</li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-mobile-alt icon"></i></span> Acesso no dispositivo móvel </li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-certificate icon"></i></span> Certificado de Conclusão</li>
                        </ul>
                        <div class="card-body">
                            <a href="course.html"> <button type="button" class="btn btn-purple">Adicionar ao carrinho</button></a>
                            <a href="about.html"> <button type="button" class="btn btn-outline-purple">Comprar</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark mt-5">

        <div style="background-color: #6351ce;">
            <div class="container">


                <div class="row py-4 d-flex align-items-center">


                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Conecte-se conosco nas redes sociais!</h6>
                    </div>

                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>

                </div>


            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">


            <div class="row mt-3">


                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                    <h6 class="text-uppercase font-weight-bold">LCode</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Cursos on-line totalmente gratuitos para você se tornar um programador de sucesso. A chave para o desenvolvimento se encontra aqui!</p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Produtos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Cursos online</a>
                    </p>
                    <p>
                        <a href="#!">Acesso ilimitado</a>
                    </p>
                    <p>
                        <a href="#!">Certificado</a>
                    </p>
                    <p>
                        <a href="#!">Chat para tirar dúvidas</a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <span class="span">@Html.ActionLink("Cursos", "", "Curso", new { area = "" }, "")</span>
                    </p>
                    <p>
                        <span class="span">@Html.ActionLink("Sobre", "Sobre", "Home", new { area = "" }, "")</span>
                    </p>
                    <p>
                        <span class="span">@Html.ActionLink("Contato", "Contato", "Home", new { area = "" }, "")</span>
                    </p>
                    <p>
                        <span class="span">@Html.ActionLink("Login", "Login", "Autenticacao", new { area = "" }, "")</span>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contato</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i>R.Guaipá, 678 - Vila Leopoldina
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>developmentinfo@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +55 11 3699-2270
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i>+55 11 3699-2270
                    </p>

                </div>


            </div>


        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>© 2020 Copyright: LCode - Todos os direitos reservados</p>

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script src="~/Scripts/global.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    @*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>DetalhesCurso</title>
    </head>
    <body>
        <div>
            <h4>CursoVideoModuloViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Curso_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_nome)
                </dt>

                <dd>
                    
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_valor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso_valor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_duracao)
                </dt>

                <dd>
                    
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso_descricao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso_status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Curso_categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Curso_categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mod_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mod_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mod_nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mod_nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mod_desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mod_desc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mod_curso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mod_curso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mod_qtd_video)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.mod_qtd_video)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_descricao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_modulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_modulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_curso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_curso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.video_link)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.video_link)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </body>
</html>*@
