@model LCode.ViewModels.CursoVideoModuloViewModel
@using LCode.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Cursos online, matricule-se já!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link href="~/Content/detalhes-curso.css" rel="stylesheet" />
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

</head>
<body>
    <script src="~/Scripts/bootstrap.min.js"></script> 
    <div class="banner-detalhes-info">
        <div class="container">
            <div class="row ">

                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>@Html.DisplayFor(model => model.Curso_duracao)h p/ conclusão</strong>                      
                    </div>
                </div>
                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>90</strong> Min. de video
                    </div>
                </div>

                <div class="banner-detalhes-info-item col-md-2">
                    <div class="banner-detalhes-info-item-text">
                        <strong>@Html.DisplayFor(model => model.video_id).ToString().Count()</strong> Atividades
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="curso-detalhes mb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h2> O que você <span class="color-purple"> aprenderá</span></h2>

                    <h4 class="title-gray mt-5">Descrição</h4>
                    <p>@Html.DisplayFor(model => model.Curso_descricao)</p>
                    <h4 class="title-gray mt-5">Conteúdo do Curso</h4>
                    <div class="accordion" id="accordionExample">
                        <div class="card">


                            @if (ViewData["modulos"] != null)
                            {

                                foreach (var modulos in (IEnumerable<CursoVideoModuloViewModel>)ViewData["modulos"])
                                {
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                @modulos.mod_nome
                                            </button>
                                        </h2>
                                    </div>


                                    if (ViewData["videos"] != null)
                                    {
                                        foreach (var videos in (IEnumerable<CursoVideoModuloViewModel>)ViewData["videos"])
                                        {
                                            if (@videos.video_titulo.Where(v => videos.video_modulo == modulos.mod_id).Select(v => videos.video_titulo).FirstOrDefault() != null)
                                            {
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <ul class="list-group list-accordion list-group-flush">
                                                            <li class="list-group-item">
                                                                <span><i class="fas fa-play-circle icon"></i></span>@videos.video_titulo
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                             }


                        </div>


                        </div>
                    </div>
               
                <div class="col-lg-6">
                    <div class="card" style="width: 28rem;">
                        
                        <video height="300" allowfullscreen controls>
                            @if (ViewData["videoPadrao"] != null)
                            {
                            <source src="@Url.Content(ViewData["videoPadrao"].ToString())" />
                            }
                        </video>

                        <div class="card-body">
                            <h5 class="card-title color-purple">@Html.DisplayFor(model => model.Curso_nome)</h5>
                            <p class="card-text">R$@Html.DisplayFor(model => model.Curso_valor)</p>
                        </div>


                        <ul class="list-group">
                            <li class="list-group-item list-group-video title-gray">Este curso inclui</li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-play-circle icon"></i></span>Vídeos com @Html.DisplayFor(model => model.Curso_duracao)hrs</li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-mobile-alt icon"></i></span> Acesso no dispositivo móvel </li>
                            <li class="list-group-item list-group-video"><span><i class="fas fa-certificate icon"></i></span> Certificado de Conclusão</li>
                        </ul>
                        <div class="card-body">
                            <a href="@Url.Action("AddCarrinho","Compra", new { curso_id = Model.Curso_id })"> <button type="button" class="btn btn-purple">Adicionar ao carrinho</button></a>
                            <a href="@Url.Action("Compra", "Compra", new {curso_id = Model.Curso_id })"> <button type="button" class="btn btn-outline-purple">Comprar</button></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <script src="~/Scripts/global.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    