@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>Veja como funciona a LCode!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/about.css">
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

</head>

<body>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-purpk nav-pills">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"></span>
                <a style="color: rgb(224, 224, 224);" class="navbar-brand d-none d-lg-inline-block h1 mb-0" href="index.html">
                    <img src="~/image/logo.png" class="d-inline-block align-top" alt="">
                </a>
                </a>
                <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                    <img src="~/image/logo.png" alt="logo">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CURSOS", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("SOBRE", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CONTATO", "Contato", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("CADASTRE-SE", "Cadastro", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                    <li class="nav-item">
                        <span class="span">@Html.ActionLink("LOGIN", "Login", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                    </li>
                </ul>
            </div>
        </nav>


        <!--------------------------BANNER-SECTION---------------------------->

        <section id="banner">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="promo-title" style="color: rgb(255, 255, 255)">Como funciona estudar na LCode?</p>
                        <h4 style="color: rgb(255, 255, 255);">
                            Conheça todos os recursos da plataforma!
                        </h4>
                    </div>
                </div>
            </div>

            <!-- <img src="~/image/banner.jpg">-->
    </header>

    <main>

        <!--SECTION COM IMAGEM A DIREITA-->
        <section class="p-5">
            <div class="container direita">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <h2>Como são os <span class="color-purple">Cursos?</span></h2>
                    </div>
                    <div class="col-lg-6 text-justify mt-4">
                        <p>
                            Com uma metodologia moderna e inteligente de estudar, os cursos digitais
                            estão revolucionando a educação. São inúmeras opções de cursos, preços mais em conta, ambientes de
                            aprendizagem cada vez mais sofisticados, e, principalmente, alta disponibilidade.Uma das características mais importantes é a flexibilidade. Sem horários e
                            locais fixos para estudar.
                        </p>


                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/print-comofunciona.jpg" alt="..." class="img-thumbnail">
                    </div>

                </div>

            </div>

        </section>

        <!--FIM SECTION COM IMAGEM A DIREITA-->
        <!--SECTION COM IMAGEM A ESQUERDA-->
        <section class="p-5 bg-light esquerda">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5">

                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/print-categorias.jpg" alt="..." class="img-thumbnail">
                    </div>

                    <div class="col-lg-6 text-justify mt-4">
                        <h2>O que vou <span class="color-purple">Estudar?</span></h2>
                        <p class="mt-4">
                            O usuário pode se cadastrar em nossa plataforma e em diversos cursos,
                            todos separados por categorias, como por exemplo “Back-End” ou “Front-End” e
                            cada uma delas contém diversos cursos que podem ser assistidos ou que serão
                            salvos no perfil do usuário, onde ele poderá consultar todos seus cursos e dados
                            cadastrais, além disso, podem dar feedbacks para que possamos aprimorar nosso
                            sistema cada vez mais.
                        </p>

                    </div>


                </div>

            </div>

            <div class="container mt-5 categ">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card categ-about">
                            <div class="card-body">

                                <h5 class="card-title">Cursos de Mobile</h5>
                                <p class="card-text">iOS e Swift, Android e Kotlin, Ionic, React Native, Jogos, e mais...</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card categ-about">
                            <div class="card-body">
                                <h5 class="card-title">Cursos de front-end</h5>
                                <p class="card-text">HTML, CSS, JavaScript, Angular, React, jQuery, e mais...</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card categ-about">
                            <div class="card-body">
                                <h5 class="card-title">Cursos de Back-end</h5>
                                <p class="card-text">ASP.NET, PHP, Java, .NET, Node JS, C#, Computação, Jogos, e mais...</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card categ-about">
                            <div class="card-body">
                                <h5 class="card-title">Cursos de Desing</h5>
                                <p class="card-text">Photoshop e Illustrator, Usabilidade e UX, Vídeo e Motion, 3D, e mais...</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!--FIM SECTION COM IMAGEM A ESQUERDA-->




        <section class="promotion">
            <p>A melhor plataforma brasileira de cursos de tecnologia, design e negócios digitais. Dê um salto na sua carreira!</p>
        </section>



        <!--SECTION COM IMAGEM A DIREITA-->
        <section class="p-5">
            <div class="container direita">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <h2>Como isso ajuda na minha <span class="color-purple">Carreira?</span></h2>
                    </div>
                    <div class="col-lg-6 text-justify mt-4">
                        <p>
                            Você vai adquirir um conhecimento teorico e prático,
                            na qual trás resultados precisos na hora de executar
                            qualquer ativiade. Um mercado de trabalho que tem cada vez
                            mais vagas. Somando todo esse ambiente de aprendizado,
                            e o suporte,  junto ao seu esforço, você vai construir os
                            próximos passos da sua carreira.
                        </p>


                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/carreira.jpg" alt="..." class="img-thumbnail-c">
                    </div>

                </div>

            </div>

        </section>

        <!--FIM SECTION COM IMAGEM A DIREITA-->
        <!--SECTION COM IMAGEM A ESQUERDA-->
        <section class="p-5 bg-light esquerda">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5">

                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/certificado.png" alt="..." class="img-thumbnail-c">
                    </div>

                    <div class="col-lg-6 text-justify mt-4">
                        <h2>Como mostro meu <span class="color-purple">Conhecimento?</span></h2>
                        <p class="mt-4">
                            Para cada término de um curso você terá acesso a um
                            certificado de participação. Contando com um projeto
                            final de formaçãi, sendo avaliado pelo seu instrutor.
                            Uma forma de medir seu conhecimento e aprendizado
                            e também de as empresas conhecerem seu trabalho.
                        </p>

                    </div>


                </div>

            </div>
        </section>

        <!--FIM SECTION COM IMAGEM A ESQUERDA-->
        <!--SECTION COM IMAGEM A DIREITA-->
        <section class="p-5">
            <div class="container direita">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <h2>E o  <span class="color-purple">Suporte?</span></h2>
                    </div>
                    <div class="col-lg-6 text-justify mt-4">
                        <p>
                            O suporte é uma forma de tirar suas dúvidas,
                            seja com um de nossos instrutores, ou na comunidade e
                            no fórum de dúvidas. E caso um novo usuário esteja
                            com um dúvida, basta usar o chat, e um integrante da
                            equipe irá sanar qualquer dúvida.
                        </p>


                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/suporte.png" alt="..." class="img-thumbnail-s">
                    </div>

                </div>

            </div>

        </section>

        <!--FIM SECTION COM IMAGEM A DIREITA-->
        <!-- Footer -->
        <footer class="page-footer font-small unique-color-dark">

            <div style="background-color: #6351ce;">
                <div class="container">


                    <div class="row py-4 d-flex align-items-center">


                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0">Conecte-se conosco nas redes sociais!</h6>
                        </div>

                        <div class="col-md-6 col-lg-7 text-center text-md-right">

                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fab fa-instagram white-text"> </i>
                            </a>

                        </div>

                    </div>


                </div>
            </div>

            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">


                <div class="row mt-3">


                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                        <h6 class="text-uppercase font-weight-bold">LCode</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>

                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Produtos</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <a href="#!">Cursos online</a>
                        </p>
                        <p>
                            <a href="#!">Acesso ilimitado</a>
                        </p>
                        <p>
                            <a href="#!">Certificado</a>
                        </p>
                        <p>
                            <a href="#!">Chat para tirar dúvidas</a>
                        </p>

                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <span class="span">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, "")</span>
                        </p>
                        <p>
                            <span class="span">@Html.ActionLink("Cursos", "", "Curso", new { area = "" }, "")</span>
                        </p>
                        <p>
                            <span class="span">@Html.ActionLink("Contato", "Contato", "Home", new { area = "" }, "")</span>
                        </p>
                        <p>
                            <span class="span">@Html.ActionLink("Login", "Login", "Autenticacao", new { area = "" }, "")</span>
                        </p>

                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Contato</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <i class="fas fa-home mr-3"></i>R.Guaipá, 678 - Vila Leopoldina
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>developmentinfo@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +55 11 3699-2270
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"></i>+55 11 3699-2270
                        </p>

                    </div>


                </div>


            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <p>© 2020 Copyright:LCode - Todos os direitos reservados</p>

            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </main>
    <script src="~/Scripts/global.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/Scripts/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/~/Scripts/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
