@model IEnumerable<LCode.Models.Curso>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrinho</title>
    <meta charset="utf-8">
    <title>Cursos online, matricule-se já!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/carrinho.css">
    <link rel="stylesheet" href="~/Content/detalhes-curso.css">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 mt-5">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="cart-title">
                                    <h2>Seu <span class="color-purple">carrinho</span></h2>
                                </th>
                                @if (TempData["cursoJaEstaNoCarrinho"] != null)
                                {
                                    <th class="cart-title">
                                        <h4>@TempData["cursoJaEstaNoCarrinho"]</h4>
                                    </th>
                                }
                                <th class="cart-title">
                                    <h4>@ViewBag.qtde</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr class="card-cart">
                                    <td>
                                        <img src="~/image/gabrielle.jpg" class="cart-img" />
                                         <p class="cart-subtitle">@Html.DisplayFor(model => item.Curso_nome)</p>

                                    </td>

                                    <td>
                                        <p class="cart-price">R$ @Html.DisplayFor(model => item.Curso_valor)</p>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("RemoveCarrinho","Compra", new { curso_id = item.Curso_id})"><p class="cart-icon"><i class="fas fa-trash-alt cart-icon"></i></p></a>
                                    </td>

                                </tr>
                                }
                            }
                            <tr class="card-cart">
                                <td>
                                    <a href="@Url.Action("Cursos","Curso")"><button type="button" class="btn btn-outline-purple mt-5 ">Continuar Comprando</button></a>
                                </td>

                                <td>
                                </td>

                                <td>
                                </td>
                            </tr>


                        </tbody>

                    </table>
                </div>

                <div class="col-12 col-md-12 col-lg-4 col-xl-4 cart-comprar mt-5">

                    <table class="table table-borderless mt-5">
                        <thead>
                            <tr>
                                <th class="cart-title">
                                    <h2>Resumo</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="cart-text">Produtos:</p>
                                </td>

                                <td>
                                    <p class="cart-price-comprar">@ViewBag.qtdeProdutos</p>
                                </td>


                            </tr>

                            <tr>
                                <td>
                                    <p class="cart-text">TOTAL:</p>
                                </td>

                                <td>
                                    <p class="cart-price-comprar">R$ @ViewBag.total</p>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                    <div class="col-12 col-md-12">
                        <a href="@Url.Action("Compra","Compra")"><button type="submit" class="btn btn-block btn-cart">Comprar</button> </a>
                    </div>

                </div>
            </div>



        </div>
    </main>
</body>
</html>
