@model LCode.Models.Usuarios

@{
    ViewBag.Title = "Login";

}
@{
    Layout = null;
}

    <head>
        <meta charset="utf-8">
        <title>Login</title>
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/login.css")
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    </head>

<body>
    <script src="js/bootstrap.min.js"></script>
    <header>
        <main>
            <section class="section">
                <nav class="navbar navbar-expand-lg navbar-light bg-purpk nav-pills">
                    <div class="d-flex flex-grow-1">
                        <span class="w-100 d-lg-none d-block"></span>
                        <img src="~/image/logo.png" width="150" height="40" class="d-inline-block align-top" alt=""></a>
                        </a>
                        <div class="w-100 text-right">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                        <ul class="navbar-nav ml-auto flex-nowrap">
                            <li class="nav-item">
                                <span class="span">@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="span">@Html.ActionLink("CURSOS", "Cursos", "Curso", new { area = "" }, new { @class = "nav-link m-2" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="span">@Html.ActionLink("SOBRE", "Sobre", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="span">@Html.ActionLink("CONTATO", "Contato", "Home", new { area = "" }, new { @class = "nav-link m-2" })</span>
                            </li>
                            <li class="nav-item">
                                <span class="span">@Html.ActionLink("CADASTRE-SE", "Cadastro", "Autenticacao", new { area = "" }, new { @class = "nav-link m-2" })</span>
                            </li>
                        </ul>
                    </div>
                </nav>


                <div class="container">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-6 col-md-4 col-lg-6 col-xl-6 d-none d-md-block device-mobile container-text">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none d-md-block device-mobile box-texto h-100">
                                <div class="jumbotron">
                                    <h1 class="jumbotron-heading">Bem-vindo à <span class="color-purple-2">LCode</span></h1>
                                    <p class="jumbotron-text ">Utilize suas credencias para se conectar a nossa plataforma.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 box-login">
                            <div class="login m-auto login-top">
                                <div class="row w-100 justify-content-center m-auto">
                                    <div class="col-12">
                                        <h2 class="mt-5 align-items-center ml-4 text-center"></h2>
                                        <div class="user-profile mt-5">
                                            <img src="~/image/logo-roxo.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                @if (TempData["loginCursosCriados"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["loginCursosCriados"]
                                    </div>
                                }
                                @if (TempData["loginCompra"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["loginCompra"]
                                    </div>
                                }
                                <div class="row w-100 justify-content-center text-center m-auto">
                                    @using (Html.BeginForm("Login", "Autenticacao", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <form>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-row align-items-center">
                                                <div class="col-10 form-group mt-2 mx-auto">
                                                    <span class="far fa-envelope"></span>@Html.EditorFor(model => model.Usu_email, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite seu e-mail" } })
                                                    @Html.ValidationMessageFor(model => model.Usu_email, "", new { @class = "text-danger validateMessage" })
                                                </div>
                                                <div class="col-10 form-group mt-3 mx-auto">
                                                    <span class="fas fa-lock"></span> @Html.EditorFor(model => model.Usu_senha, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Digite sua senha" } })
                                                    @Html.ValidationMessageFor(model => model.Usu_senha, "", new { @class = "text-danger validateMessage" })
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-10 mx-auto">
                                                <button type="submit" class="btn btn-block btn-purple-form mt-4">Entrar</button>
                                            </div>
                                        </form>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </header>
</body>