@model IEnumerable<LCode.Models.Curso>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/cad-curso.css">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Curso_nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso_descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso_categoria)
                </th>
                <th> <i class="fas fa-edit"></i></th>
            </tr>
        </thead>
    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso_nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso_descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso_categoria)
            </td>
            <td>
                <a href="@Url.Action("EditarCurso", "Professor", new { curso_id = item.Curso_id })"><button type="submit" class="btn btn-purple-form btn-cursos-criados">Editar</button></a>
            </td>
        </tr>
    </tbody>
    }
    
    </table>
</body>
</html>
